.App {
  margin: 2rem;
  text-align: center;
}
h1 {
  color: #07F;
}

.drag-drop-zone {
  padding: 2rem;
  text-align: center;
  background: #07F;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px #C0C0C0;
  margin-bottom: 30px;
}
.drag-drop-zone p {
  color: #FFF;
}
.drag-drop-zone.inside-drag-area {
  opacity: 0.7;
}
.dropped-file {
  color: #07F;
  padding: 3px;
  text-align: left;
  font-weight: bold;
  min-width: 300px;
}

.progress-bar{
  margin: 0 10px;
  width: 200px;
  height: 3px;
  background: #dddddd;
  display: inline-block;
}

.progress-bar__bar{
  height: 3px;
  background: #07F;
  display: block;
}

.dropped-file__name{
  display: inline-block;
  width: 200px;
}

.drop__file{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

